.service-background{
    background-image: url("<a href="https://imgbb.com/"><img src="https://i.ibb.co/WHQfz1X/Background-1.png" alt="Background-1" border="0"></a>");
    background-size: contain;
    
    overflow: hidden;
}